*{
	margin: 0px;
	padding: 0px;
  font-weight: 400;
	box-sizing: border-box;
}
html body{
  overflow-x: hidden;
}
.text-sidenav-color{
  color: #696687;
}
.p-30{
  padding: 30px;
}
.outline-none{
  outline: none;
}
.img-hover-zoom{
  overflow: hidden; 
  margin: 0 auto;
}
.img-hover-zoom img{
  width: 100%; 
  transition: 0.5s all ease-in-out;
}
.img-hover-zoom:hover img{
  transform: scale(1.1);
}
.testimonial-sub-img:hover{
  opacity: 0.7;
  transition: all 0.4s;
}
.input-group>.input-group-append>.btn{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: none;
}
.input-group-append{
  margin-left: 0px;
}
.form-control{
  background-color: #f6f8f9;
  border-color: #f6f8f9;
}
.form-control:focus {
  border-color: #f6f8f9;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #f6f8f9;
}

/*side nav*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  /*left: 0;*/
  right: 0;
  background-color: #ffffff;
  border-left: 1px solid #c1bbbb;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  /*font-size: 16px;*/
  color: #3B3663;;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #6254e7;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.navbar{
  position: absolute;
}
nav {
  position: -webkit-sticky;
  position: sticky;
  position: fixed;
  top: 0;
  height: 69px;
  width: 100%;
  transition: background .5s; 
}
nav.scrolled {
  background: #ffffff;
  box-shadow: 0 0px 0px 0 rgb(0 0 0 / 20%), 0 0px 6px 0 rgb(0 0 0 / 19%);
  min-height: 100px;
}
.pt-lg-5rem{
  padding-top: 5rem;
}
.mb-n50{
  margin-top: -50px;
}
.border-r{
  border-right: 2px solid #dee2e6;
  /*justify-content: center;*/
  text-align: center;
}
.justify-content-c{
  justify-content: center;
}
.email,.location{
  display: flex;
}
.pb-md-7{
  padding-bottom: 7rem;
}
.pt-md-7{
  padding-top: 7rem;
}
.footer-img {
  background-image: url(home5_bg_01.jpg);
  /*background-color: red;*/
  height: 550px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}
.h-30{
  height: 30px;
}
.h-45{
  height: 45px;
}
.a{
  vertical-align: super;
}
.b{
  vertical-align: text-top;
}
.hover-violet:hover{
  color: #6254E7;
  transition: all 0.4s;
}
.hover-orange:hover{
  color: #F47A14;
  transition: all 0.4s;
}
.card-title{
  letter-spacing: -1px;
  line-height: 1.36em;
}
.ml-n10{
  margin-left: -10px !important;
}
.text-blue-grey{
  color: #696687;
}
.text-blue-grey:hover{
  color: #f5760b !important;
}
.ls-0-5{
  letter-spacing: .05em;
}
.get-in-touch:hover{
  color: #F47A14 !important;
  transition: all 0.4s;
}
.pt-20{
  padding-top: 20px;
}
.pt-65{
  padding-top: 65px;
}
.exp-img{
  background-image: url(figure-image1.png);
  height: 620px;
  background-repeat: no-repeat;
  margin-left: -125px;
}
.faq-image{
  background-image: url(figure_image2.png);
  height: 650px;
  background-repeat: no-repeat;
  margin-right: -60px !important;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
  background: #6254e7 !important;
}
.owl-theme .owl-dots .owl-dot span{
  background: #6254e7 !important;
}
.owl-theme .owl-nav.disabled+.owl-dots{
  margin-top: 40px !important;
}
button.owl-dot{
  outline: none;
}
.owl-dot.active span{
   width: 26px !important;
}
.text-slider-items { 
    display: none; 
} 
.text-grey{
  color: #696687;
}
.mh-100{
  min-height: 100px;
}
.mt-n13{
  margin-top: -13rem!important;
}
.dropdown-menu:before{
  content: "";
   position: absolute;
   top: -18px;
   left: 15px;
   z-index: 2;
   display: block;
   width: 16px;
   height: 16px;
   -webkit-transform: rotate( -45deg ) translateY(1rem);
   -ms-transform: rotate(-45deg) translateY(1rem);
    transform: rotate( -45deg ) translateY(1rem);
    border-radius: 3px;
    background: #fff;
    box-shadow: none;
  }
/*scroll back to top*/
.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

/*search button*/
body header #main_search_element {
  height: 40%;
  /*background-color: #fff;*/
  display: flex;
  align-items: center;
  justify-content: center;
}
body header #main_search_element #search_icon_circle {
  /*width: 100px;*/
  /*height: 100px;*/
  /*background: #fff;*/
  display: block;
  border-radius: 100px / 100px;
  position: relative;
  top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in;
}
body header #main_search_element #search_icon_circle #search_icon_background {
  width: 40px;
  height: 40px;
  background-color: #2a2d50;
  /*box-shadow: 10px 10px 20px 0px #d7d3f3;*/
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px / 100px;
  position: relative;
  top: -15px;
  cursor: pointer;
  transition: all 0.4s ease-in;
}
body
  header
  #main_search_element
  #search_icon_circle
  #search_icon_background
  .fa {
  color: #fff;
  /*left: 2px;*/
  position: relative;
}
body
  header
  #main_search_element
  #search_icon_circle
  #search_icon_background
  .fa-times {
  display: none;
}
body
  header
  #main_search_element
  #search_icon_circle
  #search_icon_background
  input {
  transition: all 0.4s ease-in;
  opacity: 0;
  width: 0;
  background: #2a2d50;
  border: none;
  outline: none;
  color: #fff;
}
body header #main_search_element.expand #search_icon_circle {
  border-radius: 20px;
  width: 300px;
}
body
  header
  #main_search_element.expand
  #search_icon_circle
  #search_icon_background {
  width: 260px;
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
}
body
  header
  #main_search_element.expand
  #search_icon_circle
  #search_icon_background
  .fa-times {
  display: block;
}
body
  header
  #main_search_element.expand
  #search_icon_circle
  #search_icon_background
  input {
  width: 220px;
  opacity: 1;
  padding-left: 10px;
  outline: none;
  border: none;
}
 .dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}
.text-blue{
	color: #2a2d50 !important;
}
.read-more:hover, .text-blue:hover{
	color: #f5760b !important;
  transition: all 0.4s;
}
.txt-orange{
	color: #f5760b;
}
.active{
	color: #f5760b !important;
}
.dropdown-item:hover{
	color: #f5760b !important;
}
.font-nunito{
	font-family: 'Nunito' !important;
}
.font-rubik{
	font-family: 'Rubik'!important;
}
.dropdown-menu{
	border: none !important;
}
.seo-img{
	background-image: url(seo.png);
	background-repeat: no-repeat;
	height: 470px;
	margin-top: 100px;
	width: 33% !important;
	background-size: 32%;
}
.success-img{
  background-image: url(your_success-1024x727.jpg);
  background-repeat: no-repeat;
  height: 750px;
  width: 80%;
  float: right;
  /*margin-top: 100px;*/
  /*width: 33% !important;*/
  /*background-size: 32%;*/
}
.banner-section-content{
	/*margin-left: 70px;*/
  padding: 10% 50% 0% 0%;
  float: left;
  position: absolute;
}
.mb-md-8{
  margin-bottom: 8rem;
}
.mt-md-8{
  margin-top: 8rem;
}
.mt-md-6{
  margin-top: 6rem;
}
.mt-md-7{
  margin-top: 7rem;
}
.mb-md-7{
  margin-bottom: 7rem;
}
.mb-lg-6{
  margin-bottom: 6rem;
}
.btn-top{
  background-color: #ffffff !important;
  transition: all 0.7s;
  z-index: 3;
  color: #f5760b !important;
  border-color: #f5760b !important;
  box-shadow: none !important;
}
.btn-top:hover{
  background-color: #f5760b !important;
  color: #ffffff !important;
}
.btn-orange{
	background-color: #f5760b !important;
  /*background-image: linear-(
90deg
, #F0AC0E 0%, #F56616 100%);*/
  /*background-color: transparent;*/
  padding: 16px 27px 16px 27px;
  transition: all 0.7s;
}
.btn-orange:hover{
  color: white;
  background-color: #ffffff !important;
  /*background-image: linear-gradient(96deg, #6254e7 0%, #9289f1 100%);*/
  border-color: #f5760b !important;
  color: #f5760b !important;
  transition: all 0.4s;
}
.btn-white{
  padding: 16px 27px 16px 27px !important;
  background-color: #ffffff !important;
  color: #2a2d50 !important;
  border-color: #ffffff !important;
  transition: all 0.7s;
}
.btn-white:hover{
  transition: all 0.4s;
  background-color: #2a2d50 !important;
  border-color: #ffffff !important;
  color: #ffffff !important;
}
.mt-6{
	margin-top: 3rem!important;
}
.mt-7{
  margin-top: 7rem!important;
}
.fs-14{
	font-size: 14px;
}
.fs-13{
	font-size: 13px;
}
.fs-18{
	font-size: 18px;
}
.fs-10{
	font-size: 10px;
}
.fs-46{
  font-size: 46px;
}
.fs-42{
  font-size: 42px;
}
.fs-35{
	font-size: 35px;
}
.fs-38{
	font-size: 38px;
}
.fs-60{
  font-size: 60px;
}
.fs-66{
  font-size: 66px;
}
.fs-56{
  font-size: 56px;
}
.fs-9{
	font-size: 9px;
}
.fs-11{
	font-size: 11px;
}
.fs-20{
	font-size: 20px;
}
.fs-24{
  font-size: 24px;
}
.fs-12{
	font-size: 12px;
}
.fs-16{
	font-size: 16px;
}
.fs-22{
  font-size: 22px;
}
.fs-30{
	font-size: 30px;
}
.fa-play-circle{
	font-size: 60px !important;
	/*margin-left: 12px;*/
	color: #f5760b;
  margin-top: -.25rem!important;
}
.fa-play-circle:hover{
  color: #6254e7;
}
.logo{
  height: 48px;
}
.digital-logo{
  height: 50px;
}
.bulp-logo{
  height: 50px;
}
.mobile-logo,.location-logo{
  height: 40px;
}
.btn-check-now{
  padding: 18px 34px 16px 31px;
  font-weight: 800;
  border-radius: 5px;
  /*background-color: #715dbf;*/
  /*background: linear-gradient(96deg, #6254e7 0%, #9289f1 100%);*/
  background-image: linear-gradient(96deg, #f0ac0e 0%,#ff7426 51%, #f0ac0e 100%);
  background-color: transparent;
  color: white;
  font-weight: 800;
  transition: all 0.4s;
  border: aliceblue;
}
.btn-check-now:hover{
  color: white;
  background-color: transparent;
  background-image: linear-gradient(96deg, #e85706 0%,#f0ac0e 51%, #f0ac0e 100%);
  transition: all 0.7s;
}
.btn-purple{
	padding: 18px 34px 16px 31px;
  font-weight: 800;
  border-radius: 5px;
  /*background-color: #715dbf;*/
  /*background: linear-gradient(96deg, #6254e7 0%, #9289f1 100%);*/
  background-image: linear-gradient(96deg, #9289f1 0%, #6254e7 100%);
  background-color: transparent;
  color: white;
  font-weight: 800;
  transition: all 0.4s;
  border: aliceblue;
  box-shadow: none !important;
}
.btn-purple:hover{
	color: white;
  background-color: transparent;
  background-image: linear-gradient(96deg, #6254e7 0%, #9289f1 100%);
  transition: all 0.7s;
}
.play-video{
	text-decoration: none !important;
	color: #f5760b !important;
}
.txt-color{
	color: #3B3663 !important;
}
.txt-white{
	color: #ffffff !important;
}
.txt-dark-blue{
	color: #6254e7;
}
.btn-orange-mobile{
  /*padding: 12px 18px 10px 20px !important;*/
}
.bg-purple{
  background: #2a2d50;
}
.fa-arrow-left,.fa-arrow-right{
  /*color: #d8d8d8;*/
}
.banner-left-adj{
	width: 12.666667% !important;
	background-image: url(element_01.png);
	background-repeat: no-repeat;
	margin-top: 10%;
}
.fw-400{
  font-weight: 400;
}
.fw-500{
  font-weight: 500;
}
.fw-600{
  font-weight: 600;
}
.fw-700{
  font-weight: 700;
}
.fw-800{
  font-weight: 800;
}
.lh-1{
  line-height: 1.08em;
}
.lh-1-75{
  line-height: 1.75em;
}
.ls-1{
  letter-spacing: 1px;
}
.mt-8{
	margin-top: 6rem !important;
}
.w-80{
	width: 80%;
}
.border-2{
	/*border-top: 2px solid rgba(0,0,0,.1);*/
  border-top: 2px solid #848484;
}
.discover-btn{
	border-color: #6254E7;
  padding: 13px 27px 13px 27px;
	/*padding-top: 10px;*/
	/*padding-bottom: 10px;*/
  font-family: sans-serif;
  transition: all 0.4s;
  box-shadow: none !important;
}
.discover-btn:hover{
	background-color: #6254e7 !important;
  border-color: #6254E7;
	color: #ffffff !important;
}
.mt-n7{
	/*margin-top: -24rem !important;*/
  /*margin-left: 25%;*/
  padding: 135px 0px 0px 200px;
}
.mt-6rem{
  margin-top: 6rem!important;
}
.p-n6{
	/*margin-top: -23rem !important;*/
  /*margin-left: 14%;*/
  padding: 160px 0px 0px 140px;
}
.mt-n-4{
  margin-top: -4rem;
}
.card-hover:hover{
	background-color: #2a2d50 !important;
	color: #ffffff !important;
  box-shadow: 24px 35px 43px 0px rgb(33 41 48 / 42%) !important;
  transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s !important;
  border-width: 0px 0px 0px 0px !important;
}
.dot-image{
  background-image: url(round-points.png);
  height: 180px;
  /*background-color: red;*/
  background-repeat: no-repeat;
  margin-top: -120px;
  margin-left: 65px;
}
.blue-oval-image{
	background-image: url(home5_img_03.png);
	background-repeat: no-repeat;
	background-size: contain;
  height: 570px;
}
.owl-subtitle{
	transition: 0.5s;
  	transform: translateY(-50%);
}
.anim{
	transition: 0.5s;
  	transform: translateY(25%);
}
.anim:hover{
	transform: translateY(0);
}
.footer-img-content{
	position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: max-content;
    height: max-content;
}
.mb-7{
	margin-bottom: 3.5rem!important;
}

.ml10 {
  position: relative;
  font-weight: 900;
  /*font-size: 4em;*/
}

.ml10 .text-wrapper {
  position: relative;
  /*display: inline-block;*/
  /*padding-top: 0.2em;*/
  padding-right: 0.05em;
  /*padding-bottom: 0.1em;*/
  overflow: hidden;
}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}
/* End This sample only CSS */

/* Progress bar CSS */
span {
  /*display: block;*/
  /*padding: 15px;*/
}

.progress *:not([data-progress]) {
  /*margin: 5px 0;*/
  font-size: 14px;
}

.progress {
  width: 100%;
  max-width: 500px;
  padding: 1px;
  box-sizing: border-box;
  display: inline;
  background-color: transparent;
}

.progress [data-progress] {
  height: 5px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25) inset;
  border-radius: 2px;
  margin: 5px 0 35px 0;
  overflow: hidden;
}

[data-progress]::after {
  content: "";
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /*background-image: linear-gradient(#f5760b, #f5760b 50%, #f5760b 50%);*/
  background-color: #FFAD4F;
  width: 0;
  height: 100%;
  box-sizing: border-box;
  font-size: 10px;
  color: white;
  padding: 0 3px;
  transition: 2s;
}

[data-progress].animate-progress::after {
  content: attr(data-progress) "%";
  width: var(--animate-progress);
}
/*Faq css*/
.accordion {
    /*padding: 10px 30px;*/
    /*margin: 30px;*/
    /*width: 70%;*/
    font-size: 1rem;
}

.question {  
    /*text-transform: uppercase;*/
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    transition: all 0.7s;
    /*cursor: help;*/
}

.question:after {
    content: "+";
}

.question.active:after {
    content: "-";
}

.answer {
    display: none;
}

.active+.answer {
    display: block;
}
.text-line {
    background-color: transparent;
    color: #ffffff;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    padding: 3px 0px;
}
::placeholder {
  color: #ffffff;
  opacity: 1; /* Firefox */
}
/*div span{
	padding-left: 10px;
}*/

span .play-video{
	text-decoration: none;
}
/*Pricing Plans*/
.container {
  width: 100%;
}

.packages {
  /*margin: 20px;*/
  width: 300px;
  padding-bottom: 1.5em;
  height: 100%;
  /*background-color: #1e2321;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  /*box-shadow: 0 19px 38px rgba(30, 35, 33, 1), 0 15px 12px rgba(30, 35, 33, 0.2);*/
  flex-wrap: wrap;
  /*color: #f4f4f4;*/
}

h1,
h2 {
  font-size: 2.2em;
}

.list li {
  /*font-size: 20px;*/
  list-style: none;
  /*border-bottom: 1px solid #f4f4f4;*/
  padding-inline-start: 0;
  border-width: 1px;
  /*padding: 10px;*/
}

.first {
  margin-top: 10px;
  /*border-top: 1px solid #f4f4f4;*/
}

.list {
  width: 80%;
}

ol,
ul {
  padding: 0;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
label {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
}

.button {
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1.4em;
  margin: 15px 15px;
  border-radius: 50px;
  color: #f4f4f4;
  transition: all 0.3s ease 0s;
}

.button:hover {
  transform: scale(1.2);
}

.button1 {
  background-color: #00cc99;
  box-shadow: 0 0 10px 0 #00cc99 inset, 0 0 20px 2px #00cc99;
}

.button2 {
  background-color: #ff007c;
  box-shadow: 0 0 10px 0 #ff007c inset, 0 0 20px 2px #ff007c;
}

.button3 {
  background-color: #ffae42;
  box-shadow: 0 0 10px 0 #ffae42 inset, 0 0 20px 2px #ffae42;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1e2321;
  -webkit-transition: 0.4s;

  box-shadow: 2px 6px 25px #1e2321;
  transform: translate(0px, 0px);
  transition: 0.6s ease transform, 0.6s box-shadow;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #50bfe6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #50bfe6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.package-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.fa-share-alt{
  font-size: 15px;
}
/*share icon*/
.share {
  /*position: fixed;*/
  right: 20px;
  bottom: 20px;
}
@media (min-width: 768px) {
  .share {
    right: unset;
    bottom: unset;
  }
}
.share__toggle:hover ~ .share__button {
  transform: rotate(-180deg);
  transition: all 0.7s;
}
.share__toggle:checked ~ .share__button {
  transform: rotate(-180deg);
  transition: all 0.7s;
}
.share__toggle:hover ~ .share__icon--facebook {
  transform: translateX(-25px) rotate(0);
  transition: all 0.7s;
}
.share__toggle:checked ~ .share__icon--facebook {
  transform: translateX(-25px) rotate(0);
  transition: all 0.7s;
}
.share__toggle:hover ~ .share__icon--twitter {
  transform: translateX(-60px) rotate(0);
  transition: all 0.7s;
}
.share__toggle:checked ~ .share__icon--twitter {
  transform: translateX(-60px) rotate(0);
  transition: all 0.7s;
}
.share__toggle:hover ~ .share__icon--pinterest {
  transform: translateX(-95px) rotate(0);
  transition: all 0.7s;
}
.share__toggle:checked ~ .share__icon--pinterest {
  transform: translateX(-95px) rotate(0);
  transition: all 0.7s;
}
.share__toggle:hover ~ .share__icon--linkedin {
  transform: translateX(-130px) rotate(0);
  transition: all 0.7s;
}
.share__toggle:checked ~ .share__icon--linkedin {
  transform: translateX(-130px) rotate(0);
  transition: all 0.7s;
}
.share__toggles:hover ~ .share__buttons {
  transform: rotate(-180deg);
  transition: all 0.7s;
}
.share__toggles:hover ~ .share__icon--facebooks {
  transform: translateX(-25px) rotate(0);
  transition: all 0.7s;
}
.share__toggles:hover ~ .share__icon--twitters {
  transform: translateX(-60px) rotate(0);
  transition: all 0.7s;
}
.share__toggles:hover ~ .share__icon--pinterests {
  transform: translateX(-95px) rotate(0);
  transition: all 0.7s;
}
.share__toggles:hover ~ .share__icon--linkedins {
  transform: translateX(-130px) rotate(0);
  transition: all 0.7s;
}
.share__togglese:hover ~ .share__button {
  transform: rotate(-180deg);
  transition: all 0.7s;
}
.share__togglese:hover ~ .share__icon--facebookse {
  transform: translateX(-25px) rotate(0);
  transition: all 0.7s;
}
.share__togglese:hover ~ .share__icon--twitterse {
  transform: translateX(-60px) rotate(0);
  transition: all 0.7s;
}
.share__togglese:hover ~ .share__icon--pinterestse {
  transform: translateX(-95px) rotate(0);
  transition: all 0.7s;
}
.share__togglese:hover ~ .share__icon--linkedinse {
  transform: translateX(-130px) rotate(0);
  transition: all 0.7s;
}
.share__button,.share__buttons {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  color: #676767;
  bottom: 11px;
  background-color: #ffffff;
  border-radius: 50px;
  /*box-shadow: 0px 0px 0px 1px #98dffd;*/
  cursor: pointer;
  transition: 0.3s ease;
}
.share__icon {
  position: absolute;
  top: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  transform: translateX(0) rotate(180deg);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.share__icon--facebook {
  /*background-color: #3b5998;*/
  text-decoration: none !important;
  color: #2a2d50 !important;
}
.share__icon--twitter {
  /*background-color: #1da1f2;*/
  text-decoration: none !important;
}
.share__icon--pinterest {
  /*background-color: #bd081c;*/
  text-decoration: none !important;
}
.share__icon--linkedin {
  /*background-color: #0077b5;*/
  text-decoration: none !important;
}
/*Testimonial*/
.sr-only{position: absolute !important;height: 1px; width: 1px;border: 0; padding: 0;overflow: hidden;clip: rect(1px, 1px, 1px, 1px);pointer-events:none;}

.tfeature_btn{background:transparent;border:2px solid #000;width:40px;height:40px;line-height:36px;border-radius:50%;color:#000;text-align:center;font-size:17px;}
 
#tfeature-images{position:relative;top: 15%;}
.tfeature-images_item{width:100px;height:100px;border-radius:50%;display:none;overflow:hidden;position:absolute;top:0;z-index:1;left:50%;margin-left:-60px;}
.tfeature-images_item.left{margin-left:-120px;} 
.tfeature-images_item.right{margin-left:-5px;}
.tfeature-images_item.center{z-index:9;}
.tfeature-images_item.left,.tfeature-images_item.right,.tfeature-images_item.center{display:block;}
.tfeature-images_item.left img,.tfeature-images_item.right img{opacity:.4;}
#tfeature-testimonial{text-align:center;}
#tfeature-testimonial_content{padding:1rem 0;}
#tfeature-testimonial_author{}

/*utils*/
.container {width: 980px; max-width:100%; margin:0 auto;}
img{max-width:100%;}
.columns{
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: row;
    padding: 0rem 0;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
} 
.col-1,.col-9{flex: 0 0 auto;padding:10px}
.col-1:last-of-type{text-align:right;}
.col-1 {flex-basis: 8.333%;max-width: 8.333%;}
.col-9 {flex-basis: 75%;max-width: 75%;}

@media (max-width: 800px){
  .tfeature-images_item.left,
  .tfeature-images_item.right{
    display:none;
  }
  .col-1 {flex-basis: 12%;max-width: 12%;}
.col-9 {flex-basis: 55%;max-width: 55%;}
  .col-1,.col-9{padding:10px 0;}
}
@media (max-width: 992px){
  .mh-100 {
      min-height: 265px !important;
  }
  .dot-image{
    display: none !important;
  }
  .input-group-append{
    width: 100%;
  }
  .subscribe-now{
    width: 100%;
    border-radius: 15px;
  }
  .m-mb-0{
    width: 0px !important;
    margin-bottom: 50px !important;
    height: 120px !important;
  }
  .mb-n50{
    margin-top: 50px;
  }
  .rounded{
    border-radius: 1.25rem !important;
  }
  .pt-lg-5rem{
    padding-top: 10rem;
  }
  .w-50{
    width: 80% !important;
  }
  .border-r{
    border-bottom: 2px solid #dee2e6;
    /*justify-content: center;*/
    text-align: left;
  }
  .justify-content-c{
    justify-content: left;
  }
  .footer-img{
    background-size: cover;
    height: 1600px;
  }
  .email,.location{
    display: block;
  }
  .h-65{
    height: 65px;
  }
  .h-110{
    height: 110px;
  }
  .btn-orange{
    padding: 38px 68px 36px 68px;
    border-radius: 10px;
  }
  .btn-white{
    padding: 31px 44px 36px 47px !important;
    border-radius: 10px;
  }
  .packages{
    width: 1000px;
    padding-bottom: 7rem;
  }
  .text-greys{
    color: #696687;
  }
  .text-violet{
   color: #3B3663 !important;
  }
  .p-n6{
    padding: 788px 0px 0px 0px;
    color: #3B3663 !important;
  }
  .progress [data-progress]{
    margin: 5px 0 90px 0;
  }
  .exp-img{
    background-position: center;
    height: 800px;
    margin-left: 0;
    background-size: contain;
  }
  .faq-image{
    background-position: center;
    height: 800px;
    margin-left: 0;
    background-size: contain;
    margin-bottom: 450px;
  }
  .fs-45{
    font-size: 45px;
  }
  .fs-70rem{
    font-size: 70px;
  }
  .fs-140rem{
    font-size: 140px;
  }
  .fs-38rem{
    font-size: 38px !important;
  }
  .fs-30rem{
    font-size: 30px !important;
  }
  .fs-35rem{
    font-size: 35px !important;
  }
  .fs-22{
    font-size: 54px !important;
  }
  .mt-n13{
    margin-top: 5rem !important;
  }
  .ml-n10{
    margin-left: 20px !important;
  }
  .success-img{
    /*display: none;*/
    background-image: none;
  }
	.seo-img{
		width: 33% !important;
		margin-bottom: 10%;
		background-size: contain;
	}
	.faq-mobile{
    display: none;
  }
  .faq-adj{
    /*width: 720px;*/
    max-width: 100%;
    margin: 0 auto;
  }
	.banner-img{
		width: 100% !important;
	}
	.banner-left-adj,.banner-second-image{
		/*display: none;*/
		width: 30% !important;
    margin-top: 16%;
		/*margin-right: 20% !important;*/
	}
  .navbar-toggler{
    font-size: 3.25rem !important;
  }
	.clients-space{
		display: none;
	}
	.sutha-HR{
		height: 75%;
	}
  .blog-img-mobile{
  width: inherit;
  }
  .fs-2rem{
    font-size: 2rem;
  }
  .fs-2-3rem{
    font-size: 2.3rem;
  }
  .fs-2-5rem{
    font-size: 2.5rem;
  }
  .fs-4rem{
    font-size: 4rem;
  }
  .fs-4-5rem{
    font-size: 4.5rem;
  }
  .fs-5rem{
    font-size: 5rem;
  }
  .fs-8rem{
    font-size: 8rem;
  }
  .fs-3rem{
    font-size: 3rem;
  }
  .fs-5rem{
    font-size: 5rem;
  }
  .fs-1-5rem{
    font-size: 1.5rem;
  }
  .fs-1-8rem{
    font-size: 1.8rem;
  }
  .ml10{
    margin-bottom: 30px;
  }
  .fs-1rem{
    font-size: 1rem;
  }
  .btn-check-now{
    padding: 40px 71px 40px 69px;
    border-radius: 15px;
  }
  .btn-purple{
    padding: 40px 71px 40px 69px;
    /*font-weight: 800;*/
    background-color: #715dbf;
    color: white;
    /*font-weight: 800;*/
    border-radius: 10px;
  }
  .btn-outline-primary{
    padding: 40px 71px 40px 69px;
    /*padding-top: 27px;
    padding-bottom: 24px;
    padding-left: 36px;
    padding-right: 40px;
    font-weight: 800;*/
    /*background-color: #715dbf;*/
    color: white;
    /*font-weight: 800;*/
    border-radius: 10px;
    margin-top: 35px;
  }
  .fa-play-circle{
    font-size: 9rem !important;
    margin-top: -.5rem!important;
  }
  .mt-n7{
    /*margin-top: -28rem !important;*/
    margin-left: 20%;
    display: none;
  }
  .progress *:not([data-progress]){
    font-size: 45px;
    padding-bottom: 28px;
  }
  .mt-n6{
    margin-top: -30rem !important;
  }
  .package-container{
    /*margin-left: 50px;*/
    /*display: grid;*/
  }
  .container {
    width: 780px;
  }
 
  .fa-share-alt{
    font-size: 35px;
  }
  .fs-m-20{
    font-size: 28px;
  }
  .btn-orange-mobile{
    padding: 18px 21px 18px 28px !important;
  }
  .subscribe-input{
    height: 68px;
    font-size: 36px;
    padding-left: 50px;
  }
  .logo{
    height: 120px;
  }
  .fa-search,.fa-bars,.fa-twitter,.fa-facebook,.fa-google-plus,.fa-pinterest,.fa-linkedin{
    font-size: 40px;
  }
  .digital-logo{
    height: 70px;
  }
  .bulp-logo{
    height: 70px;
  }
  .mobile-logo,.location-logo{
    height: 120px;
  }
  .full-w{
    width: 100%;
  }
  .banner-section-content{
    /*margin-left: 20px;*/
    padding: 22% 0% 0% 0% !important;
  }
  .element-1{
    /*max-width: 8% !important;*/
  }
  .share__button,.share__buttons{
    height: 55px;
    width: 55px;
    bottom: 20px;
    left: 5px;
  }
  .share__icon{
    top: 91%;
    right: 25px;
  }
  .share__toggle:checked ~ .share__icon--linkedin{
    transform: translateX(-230px) rotate(0);
  }
  .share__toggle:checked ~ .share__icon--pinterest {
    transform: translateX(-175px) rotate(0);
  }
  .share__toggle:checked ~ .share__icon--twitter {
    transform: translateX(-120px) rotate(0);
  }
  .share__toggle:checked ~ .share__icon--facebook {
    transform: translateX(-70px) rotate(0);
  }
  .share__toggles:checked ~ .share__icon--facebooks {
  transform: translateX(-65px) rotate(0);
  }
  .share__toggles:checked ~ .share__icon--twitters {
    transform: translateX(-120px) rotate(0);
  }
  .share__toggles:checked ~ .share__icon--pinterests {
    transform: translateX(-175px) rotate(0);
  }
  .share__toggles:checked ~ .share__icon--linkedins {
    transform: translateX(-240px) rotate(0);
  }
  .share__togglese:checked ~ .share__button {
    transform: rotate(-180deg);
  }
  .share__togglese:checked ~ .share__icon--facebookse {
    transform: translateX(-65px) rotate(0);
  }
  .share__togglese:checked ~ .share__icon--twitterse {
    transform: translateX(-120px) rotate(0);
  }
  .share__togglese:checked ~ .share__icon--pinterestse {
    transform: translateX(-175px) rotate(0);
  }
  .share__togglese:checked ~ .share__icon--linkedinse {
    transform: translateX(-240px) rotate(0);
  }
  .fa-arrow-left,.fa-arrow-right,.fa-times{
    font-size: 35px;
  }
  body header #main_search_element{
    justify-content: left;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  body header #main_search_element #search_icon_circle #search_icon_background{
    height: 60px;
    width: 60px;
  }
  body header #main_search_element.expand #search_icon_circle #search_icon_background {
    width: 300px;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 45px;
    font-size: 25px;
  }
}
